* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-body-tertiary {
  padding: 15px;
}

.btn-custom {
  width: 110px; /* กำหนดความกว้างของปุ่ม */
  margin-right: 10px; /* กำหนดระยะห่างระหว่างปุ่ม */
}